@using System.Web.ModelBinding

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-info" style="padding-top: 25px"> На почтовый адрес @ViewBag.Email Вам высланы дальнейшие инструкции по завершению регистрации</p>


